/* Estilo del botón */
button {
  background-color: #6a5d3b; /* Color dorado del botón */
  color: white; /* Texto blanco en el botón */
  padding: 10px 20px; /* Espaciado del botón */
  border: none;
  border-radius: 30px; /* Bordes redondeados */
  font-size: 1.2em; /* Tamaño del texto del botón */
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f8c7f1; /* Color al pasar el mouse sobre el botón */
}
